body{
	margin: 0px;
	user-select: none;
	background: rgb(5,5,5);
}

#melon_button{
	height: 50px;
	width: 90%;
	margin-left: 5%;
	margin-right: 5%;
	background: linear-gradient(rgb(74, 135, 226), rgb(52, 113, 204));
	color: white;
	font-family: 'Sarabun', sans-serif;
	font-size: 20px;
	font-weight: 400;
	line-height: 50px;
	text-align: center;
	transition-duration: 0.2s;
	border-radius: 10px;
}

	#melon_button:hover{
		line-height: 45px;
		text-shadow: 0px 2px 4px rgba(0,0,0,0.5);
	}

	#melon_button:active{
		line-height: 52px;
		text-shadow: none;
	}

#canvas{
	position: fixed;
	top: 0px;
	left: 0px;
}

#title{
	height: 100px;
	width: auto;
	display: inline-block;
	line-height: 100px;
	font-family: 'Sarabun', sans-serif;
	font-size: 80px;
	font-weight: 700;
	text-shadow: 0px 10px 10px rgb(5,5,5), 0px -10px 10px rgb(5,5,5);
	color: rgb(245,245,245);
	text-align: center;
}

#content_container{
	height: auto;
	width: auto;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	font-size: 0px;
}

.project_card{
	height: 300px;
	width: 250px;
	background: white;
	display: inline-block;
	border-radius: 10px;
	overflow: hidden;
	margin: 10px 10px 10px 0px;
	border: 2px solid white;

	margin-left: 50%;
	transform: translate(-50%);
}

.project_image{
	height: 40%;
	width: 100%;
}
	#melons_image{
		background-color: rgb(30, 158, 255);
		background-image: url('melons/res/title.png');
		background-size: contain;
		background-position: center;
		background-repeat: no-repeat;
	}

	#pawhub_image{
		background-color: rgb(80,211,146);
		background-image: url('res/pawhub.png');
		background-size: contain;
		background-position: center;
		background-repeat: no-repeat;
	}

	#easter_image{
		background-color: rgb(200,100,120);
		background-image: url('res/easter.png');
		background-size: contain;
		background-position: center;
		background-repeat: no-repeat;
	}

.project_title{
	height: auto;
	width: 94%;
	font-size: 24px;
	color: rgb(5,5,5);
	font-family: 'Sarabun', sans-serif;
	font-weight: 700;
	padding: 2% 3% 2% 3%;
}

.project_text{
	height: auto;
	width: 94%;
	font-size: 16px;
	color: rgb(20,20,20);
	font-family: 'Sarabun', sans-serif;
	font-weight: 400;
	padding: 2% 3% 2% 3%;
}