body{
margin: 0px;
background: rgb(240,240,240);
overflow: hidden;
user-select: none;
}

.widget_text{
	font-size: 100px;
	text-align: center;
	color: white;
	font-weight: bold;
	font-family: 'VT323', monospace;
	padding: 0px 10px 0px 10px;
	line-height: 120px;
}

header{
	height: 120px;
	width: 100%;
	background: white;
	border-bottom: 5px solid rgb(20,20,20);
	position: fixed;
	padding-top: 5px;
	padding-bottom: 5px;
}

#footer{
	height: 40px;
	width: 100%;
	background: rgb(20,20,20);
	position: fixed;
	bottom: 0px;
	font-size: 30px;
	line-height: 40px;
	text-align: left;
	font-weight: normal;
	z-index: 2;
}

#logo{
	height: 120px;
	width: 465px;
	position: absolute;
	background: url('res/logo.png');
	background-size: cover;
	image-rendering: pixelated;
	left: 5px;
}

#score{
	height: 100%;
	width: auto;
	position: absolute;
	background: rgb(20,20,20);
	right: 0px;
}

#location{
	height: 50px;
	width: auto;
	position: absolute;
	top: 135px;
	right: 0px;
	background: rgb(20,20,20);
	padding: 5px;
	font-size: 30px;
	line-height: 50px;
	font-weight: normal;
	cursor: pointer;
	z-index: 2;
}

#char{
	height: 320px;
	width: 320px;
	position: absolute;
	background: url('res/default.png');
	background-size: cover;
	image-rendering: pixelated;
	left: 50%;
	margin-left: -160px;
	top: 60%;
	margin-top: -320px;
}

#floor{
	width: 200%;
	height: 40%;
	position: absolute;
	top: 60%;
	background: url('res/floor.png');
	background-size: auto 100%;
	image-rendering: pixelated;
	transition-duration: 0.1s;
}

#tch_ctrl{
	height: 100%;
	width: 100%;
	position: fixed;
	z-index: 1;
}

#msg{
	height: auto;
	width: 100%;
	position: absolute;
	background: rgba(255,255,255,0.8);
	border: 20px solid rgb(20,20,20);
	box-sizing: border-box;
	top: 60%;
	z-index: 1000;
	font-size: 50px;
	color: rgb(20,20,20);
	line-height: 50px;
	padding: 10px;
	z-index: 2;
}

#msg_close{
	height: 50px;
	width: 50px;
	position: absolute;
	background: rgb(20,20,20);
	font-size: 30px;
	right: -20px;
	top: -90px;
	line-height: 50px;
	padding: 10px;
	cursor: pointer;
	transition-duration: 0.1s;
	border-radius: 10px 10px 0px 0px;
	z-index: 2;
}
	#msg_close:hover{
		font-size: 45px;
	}

span{
	background: black;
	color: white;
	padding: 3px;
}

.social{
	height: 30px;
	width: 30px;
	top: 5px;
	position: absolute;
	cursor: pointer;
	border-radius: 20px;
	background-size: contain;
	background-position: center;
	background-repeat: no-repeat;
	font-size: 0px;
}
#linkedin{
	background: url('res/linkedin.png');
	right: 25px;
}
#instagram{
	background: url('res/instagram.png');
	right: 60px;
}

@media only screen and (max-width: 900px){
	header {height: 60px;}
	#logo{height: 60px; width: 232px; line-height: 60px;}
	#msg{font-size: 30px; line-height: 30px;}
	#score{height: 60px; font-size: 50px; line-height: 60px;}
	#location{top: 75px; height: 30px; font-size: 20px; line-height: 30px;}
	#char{height: 160px; width: 160px; margin-left: -80px; margin-top: -160px;}
}

@media only screen and (max-width: 600px){
	header{height: 100px; padding: 0px;}
	#logo{left: 50%; margin-left: -116px;}
	#msg{font-size: 25px; line-height: 25px;}
	#score{height: 40px; width: 100%; top: 60px; line-height: 40px;}
	#location{top: 105px; width: 100%;}
}